---
import { Image } from "astro:assets";

import pfpImage from "@/images/pfp-image.png";
import info from "@/data/me.json";

import LinkedInIcon from "@/components/icons/LinkedIn-Icon.astro";
import GitHubIcon from "@/components/icons/GitHub-Icon.astro";

const getActualAge = (birthday: string) => {
    const birthDate = new Date(birthday);
    const actualDate = new Date();

    let age = actualDate.getFullYear() - birthDate.getFullYear();

    if (
        actualDate.getMonth() < birthDate.getMonth() ||
        (actualDate.getMonth() === birthDate.getMonth() &&
            actualDate.getDate() < birthDate.getDate())
    ) {
        age--;
    }

    return age;
};
---

<section class="snap-start grid grid-cols-12 grid-rows-1 h-svh overflow-y-auto">
    <div
        class="my-4 col-start-2 col-span-10 flex flex-col md:flex-row md:gap-28"
    >
        <div class="pb-8 flex items-center justify-center md:flex-shrink-0">
            <Image
                class="rounded-full shadow-xl border-white dark:border-black border-4 md:w-96 md:h-96"
                src={pfpImage}
                alt=`Imagen de perfil de ${info.fullname}`
            />
        </div>
        <div class="md:flex md:justify-center md:flex-col dark:text-white">
            <h1 class="text-center md:text-left text-2xl font-bold">
                {info.fullname}
            </h1>
            <h2 class="text-center md:text-left text-xl font-extralight">
                {info.rol}
            </h2>
            <div class="my-4 flex flex-row gap-2 items-center justify-evenly md:justify-start">
                <a
                    href={info.linkedin}
                    target="_blank"
                    class="px-3 py-2 border dark:border-gray-700 flex flex-row gap-2 rounded-lg hover:border-gray-900 dark:hover:border-gray-100 hover:shadow transition duration-150"
                >
                    <LinkedInIcon class="size-6 fill-[#007EBB]" />
                    <span class="pt-0.5">LinkedIn</span>
                </a>
                <a
                    href={info.github}
                    target="_blank"
                    class="px-3 py-2 border dark:border-gray-700 flex flex-row gap-2 rounded-lg hover:border-gray-900 dark:hover:border-gray-100 hover:shadow transition duration-150"
                >
                    <GitHubIcon class="size-6 fill-[#181717] dark:fill-[#E7E8E8]" />
                    <span class="pt-0.5">GitHub</span>
                </a>
            </div>
            <p class="text-base font-normal">
                Hola, soy <span class="text-red-500 dark:text-red-700">{info.username}</span> y tengo
                {getActualAge(info.birthday)} años. Desde los 14 años, me empezó
                a interesar por el mundo de la informática es entonces cuando decidí
                que quería ser informático. Cuando terminé la ESO, emprendí mi camino
                hacia el mundo de la informática y fue cuando entré en el Grado Medio
                de Sistemas Microinformáticos y Redes. Allí amplié mucho más mis
                conocimientos sobre la informática y fue donde descubrí un nuevo
                mundo, el mundo de la programación. Fue entonces que al terminar
                este grado, opte por estudiar programación y conocer este nuevo ámbito,
                ámbito que, a día de hoy, puedo decir que mi trabajo es un hobby
                para mí.
            </p>
        </div>
    </div>
</section>
