---
import Tag from "@/components/tags/Tag.astro";

import info from "@/data/me.json";
---

<section id="project-section" class="snap-start grid grid-cols-12 grid-rows-1 h-svh">
    <div class="mt-4 col-start-0 col-span-12 flex flex-col md:gap-4 dark:text-white">
        <div class="grid grid-cols-12 grid-rows-1">
            <h1 class="hidden font-bold text-4xl mt-2 md:block col-start-2 col-span-10">Proyectos</h1>
        </div>
        <div
        id="project-list"
        class="pb-4 px-8 col-start-0 col-span-12 flex flex-row gap-4 justify-start items-center overflow-x-auto snap-x snap-mandatory xl:justify-center"
    >
        {
            info.projects.map((project) => (
                <a href={project.url} target="_blank" class="border dark:border-gray-700 shadow-lg dark:shadow-gray-900 min-w-[340px] max-w-[340px] h-full rounded-3xl flex flex-col justify-start gap-4 p-4 snap-center hover:border-gray-900 dark:hover:border-gray-100 transition duration-150">
                    <div class="overflow-hidden w-full h-1/3 rounded-xl flex align-middle">
                        <img class="w-full h-full" src={project.image} alt=`Foto del proyecto ${project.title}` />
                    </div>
                    <div class="h-2/3 flex flex-col justify-between gap-4">
                        <div class="flex flex-row justify-between items-center">
                            <h1 class="font-bold text-2xl">{project.title}</h1>
                            <time class="font-semibold text-lg text-gray-400">
                                {project.date}
                            </time>
                        </div>
                        <p class="overflow-auto text-base font-normal flex-1">
                            {project.description}
                        </p>
                        <div class="flex flex-wrap items-center gap-1 text-white dark:text-black">
                            {project.tags.map((tag) => (
                                <Tag info={tag} />
                            ))}
                        </div>
                    </div>
                </a>
            ))
        }
    </div>
    </div>
</section>
