---
import '@fontsource-variable/libre-franklin';
import { ViewTransitions } from 'astro:transitions';

import { SITE } from '@/data/site';
import Header from '@/components/Header.astro';

interface Props {
	description?: string;
	title: string;
}

const { description = SITE.description, title } = Astro.props;
---

<!doctype html>
<html lang={SITE.language}>
	<head>
		<meta charset='UTF-8' />
		<meta name='author' content={SITE.author} />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
		<script is:inline>
			const theme = localStorage.theme === 'dark'
				? 'dark'
				: localStorage.theme === 'light'
					? 'light'
					: window.matchMedia('(prefers-color-scheme: dark)').matches
						? 'dark'
						: 'light';

			document.documentElement.classList.toggle('dark', theme === 'dark');
		</script>
	</head>
	<body class='bg-gray-100 dark:bg-gray-800'>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	html {
		font-family: 'Libre Franklin Variable', system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
